.navbar {
  display: inline-flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.navbar .nav-link {
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #cfcece;
  display: inline-flex;

}

.navbar .active {
  background-color: #bbd0eb;
}

.active .triangle-left {
  width: 0; 
  height: 0; 
  border-top: 20px solid #bbd0eb;
  border-bottom: 20px solid #bbd0eb;
  
  border-left: 20px solid #fff;
}

.triangle-left {
  width: 0; 
  height: 0; 
  border-top: 20px solid #cfcece;
  border-bottom: 20px solid #cfcece;
  
  border-left: 20px solid #fff;
}

.triangle-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid #fff;
  border-bottom: 20px solid #fff;
  
  border-left: 20px solid #cfcece;
}

.active .triangle-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid #fff;
  border-bottom: 20px solid #fff;
  
  border-left: 20px solid #bbd0eb;
}

.link-text {
  background-color: #cfcece;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active .link-text {
  background-color: #bbd0eb;
}

