.product-container label, input, select {
  display: flex;
}

.product-container label {
  padding-top: 7px;
}

.product-container {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-bottom-style: dashed;
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
}

.product-selection-container {
  display: block;
  padding: 10px 100px 10px 0;
}

.product-container select {
  width: 250px;
  padding: 5px 0;
}

.product-container input {
  width: 60px;
  text-align: center;
}

.product-quantity-container {
  padding: 10px 50px 10px 0;
  width: 100px;
}

.product-price-container {
  padding: 10px 50px 10px 0;
  width: 100px;
}



.product-delete {
  margin-top: 30px;
  margin-right: 50px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  width: 60px;
  height: 25px;
}

.selection-header {
  padding: 10px 0;
  font-weight: bold;
}

.selection-id {
  background-color: gray;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
}

.selection-id-container {
  width: 30px;
  margin-top: 20px;
}

